<app-count-empleados [todos]="getEmpleados()" [masculino]="getMasculinos()" [femenino]="getFemeninos()">

</app-count-empleados>
<div class="card" style="margin-top: 20px;">
    <div class="card-body">
        <table class="table table-borderless">
            <thead>
              <tr>
                <th>Legajo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Genero</th>
                <th>Salario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let empleado of listEmpleados">
                <td>{{ empleado.legajo }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.genero }}</td>
                <td>{{ empleado.salario }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>