<div class="card">
    <div class="card-body">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="empleados" id="todos" value="Todos">
            <label class="form-check-label" for="todos">Todos</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="empleados" id="masculino" value="Masculino">
            <label class="form-check-label" for="masculino">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="empleados" id="femenino" value="Femenino">
            <label class="form-check-label" for="femenino">Femenino</label>
        </div>
    </div>
</div>